* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(147, 224, 242);
}
.card {
  position: relative;
  width: 350px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: hidden;
  transition: ease-in-out 0.25s;
}
.card .content {
  display: flex;
  align-items: center;
}
.card .content .imgBox {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.card .content .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content h2 {
  margin-left: 15px;
  font-size: 1.3em;
  color: #111;
  text-transform: capitalize;
}
.card .content h2 span {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}
.navigation {
  position: relative;
  top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.navigation li {
  list-style: none;
  margin: 15px 0;
}
.navigation li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #555;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  transition: 0.25s;
}
.navigation li a:hover {
  color: #36b3ff;
}
.navigation li a ion-icon {
  font-size: 1.6em;
  margin-right: 15px;
}
.toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 100;
  font-size: 1.6em;
  transition: 0.25s;
  cursor: pointer;
  background-color: #36b3ff;
}
.toggle:hover {
  color: #36b3ff;
  background-color: #fff;
}
.toggle ion-icon {
  transition: ease-in-out 0.5s;
}
.card.active .toggle ion-icon {
  transform: rotate(180deg);
}
.card.active {
  height: 400px;
}
