@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);
$hitam: #000;
$putih: #fff;
$biru: #226a80;
$tablet: 768px;
@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.wrapper {
  position: relative;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  .container {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    @include mq($tablet) {
      padding: 0 2rem;
    }
    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      &--brand {
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        color: $hitam;
        padding-left: 24px;
        @include mq($tablet) {
          padding-left: 0;
          font-size: 1.5rem;
        }
      }
      &--navigation {
        color: $hitam;
        @include mq($tablet) {
          display: none;
        }
        &--links {
          text-decoration: none;
          text-transform: uppercase;
          margin-left: 20px;
          padding: 12px 24px;
          border-radius: 5px;
          color: $hitam;
          font-weight: 500;
          transition: 0.5s ease background-color;
          &:hover {
            background-color: $putih;
            color: $biru;
          }
        }
      }
      &--button {
        font-size: 2rem;
        display: none;

        .bar {
          cursor: pointer;
          &:hover {
            color: $biru;
          }
        }
        @include mq($tablet) {
          display: block;
        }
      }
    }
    &__body {
      position: relative;
      max-width: 650px;
      height: calc(100% - 160px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 24px;
      h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 3rem;
        color: $biru;
        line-height: 1.5;
        @include mq($tablet) {
          font-size: 2rem;
        }
      }
      h2 {
        color: $putih;
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include mq($tablet) {
          font-size: 1.5rem;
        }
      }
      p {
        font-weight: 900;
        margin-bottom: 20px;
        @include mq($tablet) {
          font-size: 0.9rem;
        }
      }
      button {
        text-transform: uppercase;
        padding: 12px 24px;
        background-color: rgba($biru, 0.9);
        border-style: none;
        outline-style: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        color: $putih;
        &:hover {
          background-color: $biru;
        }
      }
      @include mq($tablet) {
        padding: 0;
      }
    }
    &__footer {
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 0;
      &--logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $hitam;
        @include mq($tablet) {
          font-size: 1.5rem;
        }
        :nth-child(2) {
          margin: auto 100px;
          @include mq($tablet) {
            margin: auto 20px;
          }
        }
        &--links {
          color: $hitam;
          :hover {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}
