* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
$mobile: 576px;
@mixin mq($size) {
  @media (max-width: $size) {
    @content;
  }
}

// styling
body {
  position: relative;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(black, 0.7);
  height: 3rem;

  a {
    text-decoration: none;
    color: black;
  }
  &__bar {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    @include mq($mobile) {
      display: flex;
    }
  }
  &__menu {
    transition: 0.5s ease-in all;
    &--link {
      padding: 4px 8px;
      &:hover {
        background-color: rgba(black, 0.3);
      }
    }
    @include mq($mobile) {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      text-align: center;
      background-color: rgba(black, 0.7);
    }
  }
}
.active {
  display: flex;
  top: 3rem;
}
