* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  max-width: 100vw;
  overflow: hidden;
}
.toggle {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  z-index: 100;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #adb5bd;
  background-color: #212529;
  transition: ease-in-out 0.25s;
}

.toggle:hover {
  background-color: #495057;
}
.sidebar {
  transform: translateX(-250px);
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: #212529;
  transition: ease-in-out 0.25s;
}
.sidebar.active {
  transform: translateX(0);
}
.sidebar.active .toggle ion-icon {
  transform: rotate(180deg);
  transition: ease-in-out 0.25s;
}
.sidebar .content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.imgBox {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar .content h2 {
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  color: #e9ecef;
}
.sidebar .content h2 span {
  font-size: 0.8em;
  color: #6c757d;
}
.navigation li {
  list-style: none;
  background-color: #343a40;
  padding: 10px 10px;
  cursor: pointer;
}
.navigation li:hover {
  background-color: #495057;
}
.navigation li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #adb5bd;
  display: flex;
  align-items: center;
}
.navigation li a ion-icon {
  font-size: 1.8em;
  margin-right: 10px;
}
