* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(102, 34, 34);
  &__logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    color: rgb(223, 205, 205);
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 30%;
    transition: 0.5s ease transform;
    &.active {
      transform: translateX(0);
    }
    a {
      color: rgb(223, 205, 205);
      text-decoration: none;
      text-transform: capitalize;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: bold;
    }
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 8vh;
      right: 0;
      height: 92vh;
      width: 50%;
      background-color: rgb(102, 34, 34);
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      li {
        opacity: 0;
      }
    }
  }
  &__burger {
    display: none;
    cursor: pointer;
    div {
      transition: 0.5s ease all;
      width: 24px;
      height: 3px;
      background-color: rgb(223, 205, 205);
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
@keyframes navbarFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle {
  .line1 {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}
